@define-color accent_bg_color #bec5b2;
@define-color accent_fg_color #1e2327;
@define-color destructive_bg_color #e67e80;
@define-color destructive_fg_color #fff9e8;
@define-color destructive_color #e67e80;
@define-color success_bg_color #a7c080;
@define-color success_fg_color #fff9e8;
@define-color success_color #a7c080;
@define-color warning_bg_color #e69875;
@define-color warning_fg_color #1e2327;
@define-color warning_color #e69875;
@define-color error_bg_color #e67e80;
@define-color error_fg_color #fff9e8;
@define-color error_color #e67e80;
@define-color window_bg_color #2b3339;
@define-color window_fg_color #fff9e8;
@define-color view_bg_color #2b3339;
@define-color view_fg_color #fff9e8;
@define-color headerbar_bg_color #2b3339;
@define-color headerbar_fg_color #fff9e8;
@define-color headerbar_border_color #fff9e8;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);
@define-color card_bg_color rgba(255, 249, 232, 0.05);
@define-color card_fg_color #fff9e8;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color popover_bg_color #445055;
@define-color popover_fg_color #fff9e8;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);

.csd .titlebar {
 border-radius: 0;
}

.window-frame {
 border-radius: 0;
}

decoration, window, window.background, window.titlebar, * {
border-radius: 0px;
}

.titlebar,
.titlebar .background, * {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


.window-frame {
    border-radius: 0 0 0 0;
}

.background.csd {
    border-radius: 0 0 0px 0px;
}
.background.maximized, .background.solid-csd {
    border-radius: 0;
}

.window-frame, .window-frame:backdrop {
 box-shadow: 0 0 0 black;
 border-style: none;
 margin: 0;
 border-radius: 0;
}

.titlebar {
 border-radius: 0;
} 
